:root {
  /**
   * colors
   */

  --raisin-black-2: hsl(245, 16%, 16%);
  --raisin-black-1: hsl(244, 17%, 19%);
  --majorelle-blue: hsl(245, 67%, 59%);
  --main-orange: hsl(19, 97%, 37%);
  --secondary-orange: hsl(19, 73%, 50%);
  --ghost-white-1: hsl(240, 100%, 99%);
  --ghost-white-2: hsl(228, 50%, 96%);
  --white-opacity: hsla(0, 0%, 100%, 0.5);
  --independence: hsl(245, 17%, 27%);
  --lavender-web: hsl(247, 69%, 95%);
  --eerie-black: hsl(210, 11%, 15%);
  --cool-gray: hsl(244, 17%, 61%);
  --sapphire: hsl(211, 100%, 35%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-quicksand: "Quicksand", sans-serif;
  --ff-mulish: "Mulish", sans-serif;
  --title-font: "Montserrat", sans-serif;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 17px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 80px;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea {
  display: block;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  font: inherit;
  width: 100%;
}

html {
  font-family: var(--ff-quicksand);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

.container {
  padding-inline: 15px;
}

.container .logo {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}

.container .logo:hover {
  color: var(--secondary-orange);
}
.h1,
.h2,
.h3 {
  color: var(--independence);
  font-family: var(--ff-mulish);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
  text-transform: uppercase;
}

.h3 {
  font-size: var(--fs-3);
}

.btn-hero {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 15px 30px;
  border-radius: 4px;
  transition: var(--transition);
}

.btn-hero:is(:hover, :focus) {
  transform: translateY(-2px);
}

.btn-hero-primary {
  background: var(--main-orange);
  color: var(--white);
}

.btn-hero-primary:is(:hover, :focus) {
  --majorelle-blue: hsl(245, 67%, 55%);
  box-shadow: 0 3px 10px var(--secondary-orange);
}

.btn-hero-outline {
  border: 1px solid var(--main-orange);
  color: var(--main-orange);
}

.btn-hero-outline:is(:hover, :focus) {
  background: var(--secondary-orange);
  color: var(--white);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-hero-secondary {
  background: hsla(245, 67%, 59%, 0.15);
  color: var(--main-orange);
}

.section-title {
  text-align: center;
}

.section-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  line-height: 1.7;
  text-align: center;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  padding-block: 20px;
  height: 65px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 4;
  -webkit-box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.32);
  box-shadow: 12px 0px 39px 5px rgba(0, 0, 0, 0.32);
}

.header.active {
  height: 330px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle-btn {
  font-size: 25px;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  padding-inline: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.header.active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link,
.header-action-link {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  font-family: var(--ff-mulish);
  padding-block: 8px;
}

:is(.navbar-link, .header-action-link):is(:hover, :focus) {
  color: var(--secondary-orange);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding: 200px 0 var(--section-padding);
  background-image: url("../images/physicsLab.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 102vh;
}

.hero-content {
  margin-bottom: 80px;
}

.hero-title {
  margin-bottom: 25px;
  color: #bb3e03;
  font-size: 48px;
}

.effet {
  position: relative;
  font-size: 48px;
  color: #bb3e03;
  -webkit-text-stroke: 0.3vw #bb3e03;
  font-weight: 100;
  padding-bottom: 5%;
}

.effet::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 10;
  width: 0;
  height: 70%;
  color: #e7e5f3;
  -webkit-text-stroke: 0vw #bb3e03;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.hero-title2 {
  margin-bottom: 25px;
  color: #bb3e03;
}

.hero-text {
  color: var(--cool-gray);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 40px;
}

.form-text {
  color: var(--independence);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}

.form-text span {
  display: inline-block;
  font-size: 20px;
}

.email-field {
  background: var(--ghost-white-2);
  padding: 17px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email-field:focus {
  outline-color: var(--main-orange);
}

.hero .btn-primary {
  margin-inline: auto;
}

.hero-banner img {
  width: 100vw;
}

/* STYLE 2 STARTS HERE ----------------------*/

body {
  font-family: var(--text-font);
  /* background-image: linear-gradient(#8e8fa5, #ffffff); */
  background: white;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover */
  color: var(--main-orange);
  /* overflow-x: hidden; Hide horizontal scrollbar */
}
.container-fluid {
  background-size: 100% 100%;
  background-attachment: fixed;
}
.links {
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 3px;
}

.links ul {
  display: flex;
  justify-content: left;
}

.links ul li {
  margin: 0 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
}

.links ul li:hover,
.links ul li.active {
  color: var(--secondary-orange);
}

.view_main {
  border-radius: 3px;
  padding: 15px;
  align-items: right;
}

.list-view .view_item img {
  width: 35%;
  border-radius: 10px;
}

.list-view .view_item {
  background: #fff;
  border: 1px solid #e2efe1;
  margin: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
}

.list-view .view_item:last-child {
  margin-bottom: 0;
}

.list-view .view_item .vi_left {
  margin-right: -25%;
}

.view_item .title {
  font-weight: 600;
}

.view_item .content {
  margin: 5px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
}

.view_item .btn {
  width: 125px;
  background: var(--main-orange);
  padding: 8px 5px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
}

.view_item .btn:hover {
  background: var(--secondary-orange);
}

.more-btn {
  width: 100%;
  padding: 8px 5px;
  border-radius: 3px;
  color: var(--main-orange);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.more-btn:hover {
  color: var(--secondary-orange);
  text-shadow: 0 3px 10px var(--secondary-orange);
}
.grid-view {
  width: 100%;
  padding-left: 25px;
}
.grid-view .view_item img {
  width: 100%;
  border-radius: 10px;
}
.grid-view .view_item {
  display: inline-block;
  background: #fff;
  width: auto;
  padding: 25px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.grid-view .view_item .vi_left {
  margin-bottom: 10px;
}

.grid-view .view_item .btn {
  margin: 0 auto;
}

.image-div {
  margin: 10px;
  padding: 10px 20px;
  align-items: center;
}

.sort-btn {
  background: #fff;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  width: 50%;
  text-align: left;
}

.sort-btn:hover {
  background: #fff;
}

/*--------------------------------page 2---------------------------- */

.links2 {
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 3px;
}

.links2 ul {
  display: flex;
  justify-content: left;
}

.links2 ul li {
  margin: 0 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
}

.links2 ul li:hover,
.links2 ul li.active {
  color: var(--secondary-orange);
}

.list-view2 .view_item img {
  width: 35%;
  border-radius: 10px;
}

.list-view2 .view_item {
  background: #fff;
  border: 1px solid #e2efe1;
  margin: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
}

.list-view2 .view_item:last-child {
  margin-bottom: 0;
}

.list-view2 .view_item .vi_left {
  margin-right: -25%;
}

.grid-view2 {
  width: 100%;
  padding-left: 25px;
}
.grid-view2 .view_item img {
  width: 100%;
  border-radius: 10px;
}
.grid-view2 .view_item {
  display: inline-block;
  background: #fff;
  width: auto;
  padding: 25px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.grid-view2 .view_item .vi_left {
  margin-bottom: 10px;
}

.grid-view2 .view_item .btn {
  margin: 0 auto;
}

/* STYLE 3 STARTS HERE  ------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* class contains all page */
.main {
  background-color: hsl(23, 100%, 96%);
  background-repeat: no-repeat;
  height: 100vh;
}
/* class contains lab image and description */
.right {
  height: inherit;
}
/* class of description */
.des {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.des p {
  margin-top: 25px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: black;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* image of the lab */
.lab {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 70%;
}
.lab img {
  width: 100%;
  height: 100%;
}
/* dealing with left side */
.logo img {
  height: 100px;
  width: 130px;
  margin-top: 5%;
  margin-left: 10%;
}
.title h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  color: var(--main-orange);
  margin-top: 5px;
  margin-left: 10%;
}
.imd img {
  margin-left: 10%;
  height: 50%;
  width: 70%;
}
.btns a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--main-orange);
  border: none;
  margin-left: 50%;
  margin-top: 5%;
}
.btns a:hover {
  transform: scale(1.1);
  background-color: var(--secondary-orange);
}
.btns a img {
  height: 70%;
  width: 100%;
  margin-top: 8px;
}
.imd2 img {
  margin-left: 40%;
  margin-top: -20%;
  height: 40%;
  width: 60%;
}

.descc h4 {
  width: 70%;
  margin-top: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  color: var(--main-orange);
}
.descc p {
  width: 70%;
  font-weight: bolder;
  color: var(--main-orange);
}
.disg {
  font-size: 50px;
  color: var(--main-orange);
}
.logo2 img {
  height: 100px;
  width: 130px;
  margin-top: 5%;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 450px) {
  /**
   * HERO
   */

  .hero-form {
    position: relative;
  }

  .email-field {
    margin-bottom: 0;
    padding-right: 155px;
  }

  .hero .btn-primary {
    position: absolute;
    top: 5px;
    padding-block: 12.5px;
  }

  .container .logo {
    font-size: 1.3rem;
  }
  .hero-banner {
    display: inline-block;
  }

  .container {
    max-width: 525px;
    margin-inline: auto;
  }

  .section-text {
    max-width: 460px;
    margin-inline: auto;
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 645px;
  }

  /**
   * HERO
   */

  .hero :is(.hero-text, .form-text, .hero-form) {
    max-width: 520px;
  }

  .hero-banner {
    max-width: 600px;
    margin-inline: auto;
    display: none;
  }

  .hide-on-small {
    display: none;
  }
  .grid-view .view_item {
    width: 230px;
  }
  .grid-view2 .view_item {
    width: 230px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }

  .section-text {
    max-width: 450px;
  }

  .header {
    overflow: visible;
    padding-block: 0;
    height: unset;
  }

  .header.active {
    height: unset 0.22;
  }

  .menu-toggle-btn {
    display: none;
  }

  .navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-link,
  .header-action-link {
    padding-block: 25px;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1150px;
    }

    .hero .container {
      gap: 150px;
    }
  }
}
